<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Create Guest</h2>
    <form method="post">
        Name:
        <input type="text" name="name">
        <br><br>
        Age:
        <input type="number" name="age">
        <br><br>
        Email:
        <input type="email" name="email">
    
        <br><br>
        City:
        <input type="text" name="city">
        <br><br>
        <input type="submit">
    </form>

</body>
</html>